#addAddress {
	@media only screen and (min-width: 700px) {
		padding: 1rem;
	}

	#pageTitle {
		font-weight: bold;
	}

	#formContainer {
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		max-width: 800px;
		margin: 2rem auto;

		#switch {
			:hover {
				cursor: pointer;
			}
			.option {
				margin-right: 1rem;
				font-size: large;
			}
			.selected {
				border-bottom: 3px solid #009bc1;
				padding-bottom: 0.25rem;
			}
		}

		#form {
			display: flex;
			justify-content: center;
			flex-direction: column;
			.inputs {
				padding: 1rem 0;
				input {
					height: 2.5rem;
					width: 100%;
					margin: 0.5rem 0;
					border: 1px solid lightGrey;
					border-radius: 10px;
					padding: 1rem;
				}
			}

			#select {
				margin: 0.5rem 0;
				font-size: small;

				input {
					height: 100%;
				}
			}

			.error {
				width: 100%;
				font-size: 18px;
				color: #f36f5e;
			}
			.message {
				width: 100%;
				font-size: 18px;
				color: lightgreen;
				margin: 0.5rem;
			}

			#searchBtn {
				height: 48px;
				width: 100%;
				font-size: 18px;
				color: #009bc1;
				background: #e5f5f8;
				font-weight: bold;
				border: none;
				border-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
			}
		}
	}

	#results {
		margin: 1rem;
		:hover {
			color: #009bc1;
		}
		.result {
			margin: 1rem 0;
			cursor: pointer;
		}
		.card {
			padding: 1rem;
		}
		.added {
			border-color: lightgreen;
			color: lightgreen;
			:hover {
				color: lightgreen;
			}
		}
	}
}
