#addressBook {
	@media only screen and (min-width: 700px) {
		padding: 1rem;
	}
	#addresses {
		margin: 1rem 0;
		.address {
			cursor: pointer;
			padding: 1rem;
			margin: 1rem 0;
		}
		.selected {
			border-color: #009bc1;
		}
	}
}
