* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

#root,
#app {
	min-height: 100%;
	min-width: 100%;
	display: flex;
	flex-direction: row;
	font-family: DM Sans, sans-serif;

	#sideNav {
		height: 100%;
		min-width: 72px;
		border-right: 1px solid lightGrey;
		text-align: center;
		@media only screen and (min-width: 700px) {
			min-width: 240px;
			text-align: left;
		}

		#sideContainer {
			position: sticky;
			top: 0;
		}

		#logoItem {
			padding: 1.5rem 1rem;

			.logo {
				height: 2.25rem;
			}
			#logo-full {
				display: none;
				@media only screen and (min-width: 700px) {
					display: inline;
				}
			}
			#logo-mob {
				display: inline;
				@media only screen and (min-width: 700px) {
					display: none;
				}
			}
		}

		#navItems {
			:hover {
				background-color: #f5f5f5;
				cursor: pointer;
				* {
					color: #009bc1;
				}
			}

			.navItem {
				padding: 1rem 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				@media only screen and (min-width: 700px) {
					justify-content: left;
				}
				.icon {
					color: grey;
					@media only screen and (min-width: 700px) {
						padding: 0 0.5rem;
					}
				}
				.linkText {
					text-decoration: none;
					font-size: small;
					display: none;
					padding: 0 1rem;
					@media only screen and (min-width: 700px) {
						display: inline;
					}
				}
			}
		}
	}

	#content {
		height: 100%;
		width: 100%;
		background-color: #f5f5f5;
		padding: 1rem;

		#addressBook {
			@media only screen and (min-width: 700px) {
				padding: 1rem;
			}
			#selectedAddress {
				margin: 1rem 0;
				div {
					padding: 0.5rem;
					font-size: large;
				}
			}
			#addresses {
				margin: 1rem 0;
				.address {
					cursor: pointer;
					padding: 1rem;
					margin: 1rem 0;
				}
				.selected {
					border-color: #009bc1;
				}
			}
		}

		#addAddress {
			@media only screen and (min-width: 700px) {
				padding: 1rem;
			}

			#pageTitle {
				font-weight: bold;
			}

			#formContainer {
				display: flex;
				justify-content: center;
				box-sizing: border-box;
				max-width: 800px;
				margin: 2rem auto;

				#switch {
					:hover {
						cursor: pointer;
					}
					.option {
						margin-right: 1rem;
						font-size: large;
					}
					.selected {
						border-bottom: 3px solid #009bc1;
						padding-bottom: 0.25rem;
					}
				}

				#form {
					display: flex;
					justify-content: center;
					flex-direction: column;
					.inputs {
						padding: 1rem 0;
						input {
							height: 2.5rem;
							width: 100%;
							margin: 0.5rem 0;
							border: 1px solid lightGrey;
							border-radius: 10px;
							padding: 1rem;
						}
					}

					#select {
						margin: 0.5rem 0;
						font-size: small;

						input {
							height: 100%;
						}
					}

					.error {
						width: 100%;
						font-size: 18px;
						color: #f36f5e;
					}
					.message {
						width: 100%;
						font-size: 18px;
						color: lightgreen;
						margin: 0.5rem;
					}

					#searchBtn {
						height: 48px;
						width: 100%;
						font-size: 18px;
						color: #009bc1;
						background: #e5f5f8;
						font-weight: bold;
						border: none;
						border-radius: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}
				}
			}

			#results {
				margin: 1rem;
				:hover {
					color: #009bc1;
				}
				.result {
					margin: 1rem 0;
					cursor: pointer;
				}
				.card {
					padding: 1rem;
				}
				.added {
					border-color: lightgreen;
					color: lightgreen;
				}
			}
		}
	}
}

.card {
	width: 100%;
	background-color: white;
	border: 1px solid lightGrey;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}
